@using ThursdayAfternoon.Nancy.Extensions
@inherits NancyRazorViewBase<ThursdayAfternoon.ViewModels.Presentation.EditViewModel>
@{
    Layout = "shared/_layout";
    ViewBag.Title = "Edit" + @Model.Title;

    int slideCount = Model.SlideIds.Length;
}

<h1>Edit @Model.Title</h1>

<div class="row">
    <div class="col-lg-8">
        <form action="@Url.Content("~/presentation/edit/" + @Model.Id)" method="post">
            <div class="form-group">
                <label for="Title">Title</label>
                @Html.TextBox("Title", "form-control", "Title")
            </div>

            <div class="form-group">
                <label for="Description">Description</label>
                @Html.TextArea("Description", "form-control tinymce", 10, 15)
            </div>

            @Html.Hidden("CreatedOn")
            @Html.Hidden("ModifiedOn")
            @Html.Hidden("OwnerId")
            @Html.Hidden("SlideIds")

            <button class="btn btn-default" type="submit">Edit</button>
            <a href="@Url.Content("~/presentation")" class="btn">&larr; back to Presentations</a>
        </form>
    </div>
    <div class="col-lg-4">
        <p>Slides</p>
        <p><a href="@Url.Content("~/slide/create/" + @Model.Id)" class="btn">Add new Slide</a></p>
  
        <ul>
        @if (slideCount > 0)
        {
            for (int i = 0; i < slideCount; i++)
            {
                <li><a href="@Url.Content("~/slide/edit/" + @Model.Id + "/" + @Model.SlideIds[i])" class="btn">Slide @(i + 1)</a></li>
            }
        }
        else
        {
            <li>No Slides</li>
        }
        </ul>
    </div>
</div>

@section scripts {
    @{
        WriteLiteral(Bundle.JavaScript()
            .Add("~/scripts/tinymce/jquery.tinymce.min.js")
            .Add("~/scripts/tinymce-config.js")
            .Render("~/scripts/tinymce_#.js"));
    }
}
