@inherits NancyRazorViewBase<ThursdayAfternoon.ViewModels.Presentation.ViewPresentationViewModel>
@{
    Layout = "shared/_layout_full_width";
    ViewBag.Title = "Edit" + @Model.Title;
    bool isFirst = true;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-title">
                @Model.Title 
                <small><a href="#" id="fullscreen" data-target=".carousel" data-toggle="tooltip" title="Fullscreen"><span class="glyphicon glyphicon-fullscreen"></span></a></small>
            </h1>
        </div>
    </div>
</div>

<div id="presentation" class="carousel slide">
    <div class="carousel-inner">
        @foreach (var slide in Model.Slides)
        {
            <div class="item @(isFirst ? "active" : "")">
                <div class="carousel-caption">
                    <h3>@slide.Title</h3>
                    <p>@Html.Raw(slide.Content)</p>
                </div>
            </div>
            isFirst = false;
        }
    </div>
    
    @if (Model.Slides.Count > 1)
    {
        <a class="left carousel-control" href="#presentation" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#presentation" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    }
</div>
